/***************** Show Cart *********************/
.main{
    min-height: 1700px;
}

.table{
 /* width:90%; */
 margin:10px;
 border: 2px solid white;
 border-spacing: 0;
list-style-type: none;
 
   }

.table tr{
/* background-color: aqua; */
text-align: center;
font-size: 0.7em;
margin-bottom: 2px;

}

.table tr th{
 background-color: rgb(255, 192, 203, 0.5);
 height:30px;
   }

.imgArticle{
    height:10em; 
    width:auto;
    margin:10px;
}
   
.btnFont{
 font-size: 1.2em;
}

.btn{
text-decoration: none;
padding:4px;
border: 2px solid rgb(255, 255, 255);
color:white;
background-color: rgb(255, 192, 203);
}

.btn:focus, .btn:hover {
    text-decoration: none;
    padding: 4px;
    border: 2px solid rgb(255, 192, 203);
    color: rgb(255, 192, 203);
    background-color: rgb(255, 255, 255);
}


.btnMinus{
padding-right:5.5px;
padding-left: 5.5px;
}
  
.totalPrice{
    font-weight: bold;
}

/***************** Ajout Empty Cart *********************/

.mainemptycart{
    width:100%;
    text-align: center;
}


.pinkbtn {
    border: solid 2px #3D535F;
    border-radius: 5px;
    color: #3D535F;
    padding:5px;
    margin:10px;

}

 .pinkbtn:hover {
    background-color: #3D535F;
    color: #fff;
    transition: 1s;
    cursor: pointer;
    
 }

/* margin enfant du mainempty */

 .mainemptycart p{
     margin-bottom: 30px;
 }

 .mainemptycart ul > * {
     margin-bottom: 30px;
 }

@media (min-width:480px) and (max-width:767.9px) {

.introFigcaption {
    top: 72%;
    width: 24%;
    left: 2%;
    font-size: 1.5em;
    }

.introImg {
    height: 270px;
    width: auto;
}
    
.table {
    width: 95%;
    margin: 10px;
    border: 2px solid white;
    border-spacing: 0;
    list-style-type: none;

}

.table tr {
     /* background-color: aqua; */
    text-align: center;
    font-size: 0.6em;
    margin-bottom: 2px;

}

.imgArticle {
    height: 10em;
    width: auto;
    margin: 10px;
}

.btnFont {
    font-size: 1em;
}
}

@media (min-width:768px) and (max-width:1023.9px) {
.introFigure {
        margin-bottom: 140px;
    }

.introFigcaption {
    font-size: 2.2em;
    width: 25%;
    top: 98%;
    left: 2%;
}

.introImg {
    max-height: 470px;
    width: auto;
}

    .table tr {
        font-size: 1em;
    }

    .imgArticle {
        margin: 20px;
    }

    .table {
        width: 80%;
        margin: 10px;
        border: 2px solid white;
        border-spacing: 0;
        list-style-type: none;

    }

    .table tr {
        /* background-color: aqua; */
        text-align: center;
        font-size: 0.8em;
        margin-bottom: 2px;

    }

    .table tr th {
        background-color: rgb(255, 192, 203, 0.5);
        width: 10em;
        height: 30px;
    }

    .imgArticle {
        height: 10em;
        width: auto;
        margin: 10px;
    }

    .btnFont {
        font-size: 1em;
    }
}

@media (min-width:1024px) {
.introFigure {
        margin-bottom: 140px;
    }

    .introFigcaption {
        font-size: 2.2em;
        width: 18%;
        top: 100%;
    }

    .introImg {
        max-height: 470px;
        width: auto;
    }

    .table {
        width: 90%;
        margin: 10px;
        border: 2px solid white;
        border-spacing: 0;
        list-style-type: none;

    }

    .table tr {
        /* background-color: aqua; */
        text-align: center;
        font-size: 1em;
        margin-bottom: 2px;

    }

    .table tr th {
        background-color: rgb(255, 192, 203, 0.5);
        width: 8em;
        height: 30px;
    }

    .imgArticle {
        height: 10em;
        width: auto;
        margin: 10px;
    }

    .btnFont {
        font-size: 1.2em;
    }
}